li {
    width: 400px;
    height: 450px;
    overflow: hidden;
    background-color: rgba(255, 127, 80, 0.359);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 20px;
}